<template name="services">
    HELLO SERVICE <br><br><br>

    {{#if currentUser}}
        <input type="text" name="title" id="newServiceTitle" value="TITLE"/>
        <input type="text" name="description" id="newServiceDescription" value="DESCRIPTION"/>
        <button id="create">Create service</button>
        <br><br><br>
    {{/if}}
    {{#each findAllServices}}
        {{>oneService}}
        <!--<h6 style="color: darkblue; margin-top: 0px"> TO UPDATE DESCRIPTION CLICK ON TEXT</h6>-->
    {{/each}}
</template>


<template name="oneService">
    <div style="background-color: lavender; border: 2px solid gray">
        <h2 id="title" style="text-align: center"> {{title}} </h2>
        <div id="description">
            {{description}}
        </div>
        <br>
        <button id="delete" style="margin: 10px 10px; background-color: lightskyblue">DELETE</button>
        <button id="update"> UPDATE</button>
    </div>
</template>